body {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 136vw 98vw;
}

main {
    background-color: white;
}


.headNavigation a {
    color: #8798a4;
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;

}

.active {
    color: white;
}

.allProductList {
    list-style: none;
}

.allProductList li img {
    width: 51.733vw;
}


.headNavigation{
    display: flex;
    flex-direction: column;
}

.headNavigation a{
    font-size:11.938vw;
}

.showNavButton {
    background-image: url(../images/arrow-down-sign-to-navigate.png);
    width: 10px;
}

.hide {
    display: none;
}


@media only screen and (min-width:578px) {
    .desktopHide {
        display: none;
    }
}