* {
  font-family: 'Source Serif Pro', serif;
}

body {
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-size: 136vw 98vw;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: white;
  padding-bottom: 1vw;
}

.active {
  color: white;
}

.allProductList,
.myProductList,
.popularProductsList {
  list-style: none;
  display: grid;
  padding: 0;
  justify-items: center;
  justify-content: center;
}

.allProductList li img,
.myProductList li img,
.popularProductsList li img {
  width: 100%;
  height: 64.5vw;
}

.headNavigation {
  display: flex;
  flex-direction: column;
}

.headNavigation a {
  font-size: 11.938vw;
  color: #8798a4;
  text-decoration: none;
}

.showNavButton {
  background-image: url(../images/arrow-down-sign-to-navigate.png);
  width: 11vw;
  height: 10vw;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 7px;
  align-self: center;
  color: white;
}

.hide {
  display: none;
}

.normalNav {
  border-top: solid;
  border-width: 0.4px;
  padding: 10px;
}

.userInfoList {
  list-style: none;
}

.userInfoItem {
  border-top: solid;
  border-width: 0.5px;
}

.logoLink {
  width: 100%;
  height: 48vw;
  font-size: 6vw;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h4 {
  align-self: center;
  grid-row: 1;
  font-size: 6vw;
}

.cardDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6.5vw;
}

.logoLink span:first-child {
  background-image: url(../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 19vw;
  height: 16vw;
}

.logoLink span:last-child {
  color: white;
}

h1 {
  color: #8798a4;
  font-size: 8vw;
}

.headlineSection {
  margin-top: 39vw;
}

.headlineSection p {
  font-size: 4vw;
  text-decoration: underline;
  color: #c2327f;
}

.miniNav {
  display: flex;
  padding-top: 9vw;
  justify-content: space-around;
}

.miniNav a,
.miniNav a:visited {
  text-decoration: none;
  color: black;
  display: flex;
  font-size: 5vw;
  flex-direction: column;
  align-items: center;
}

.miniNav a:hover,
.miniNav a.active {
  color: #c2327f;
}

.active::after {
  content: "";
  display: block;
  border-bottom: 1px solid #c2327f;
  margin-top: 1.563vw;
  width: 10.313vw;
  box-shadow: -2px 0 9px 0 #c2327f;
}

.navSection {
  margin-top: 29vw;
  flex-direction: column-reverse;
}

.allProductList li,
.myProductList li,
.popularProductsList li {
  box-shadow: 0 6vw 20px 4px #e7e7e7;
  width: 82vw;
  margin-bottom: 16vw;
}

.ratingDataContainer {
  display: flex;
  width: 64vw;
  justify-content: space-between;
}

.minSectionsTitles {
  margin-top: 16vw;
  text-align: center;
  font-size: 8vw;
  margin-bottom: 17vw;
}

.paginationController hr {
  width: 22px;
  margin-left: 9px;
  border-color: #c2327f;
  border-width: 0.25px;
}

.allProductList li hr,
.myProductList li hr,
.popularProductsList li hr {
  width: 65vw;
  margin: 0;
  border-color: #f1f2f357;
}

.priceLike {
  display: flex;
  justify-content: space-between;
  width: 83%;
  padding: 10px;
}

.cardTitle {
  margin: 1px;
  margin-bottom: 0;
  font-size: 6vw;
}

#purchaseContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 8vw;
}

#purchaseContainer button {
  background: transparent;
  height: 5vw;
  border: solid 0.5px #c2327f;
}

#purchaseContainer button:hover {
  background-color: #c2327f;
  color: white;
}

.priceP {
  margin-bottom: 0;
  margin-top: 1px;
}

.likesButton {
  display: flex;
  align-items: center;
  background-image: url(../images/like.png);
  border: none;
  background-repeat: no-repeat;
  background-size: 8vw 8vw;
  background-color: transparent;
  height: 8vw;
  cursor: pointer;
  width: 10vw;
}

.likesAmount {
  margin-top: 0;
  align-self: flex-end;
  margin-right: 14vw;
  font-size: 5vw;
}

.paginationController {
  display: flex;
  margin-bottom: 9vw;
  justify-content: space-around;
}

.nextButton,
.goBack {
  display: flex;
  width: 113px;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  border: none;
}

.goBack {
  flex-direction: row-reverse;
}

.paginationController button.hideBackButton {
  display: none;
}

.paginationController button.hideNextButton {
  display: none;
}

.addToMyProducts {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-size: cover;
  width: 8vw;
}

#searchInputContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#searchInputContainer.hide {
  display: none;
}

.headhr {
  display: none;
}

#searchBar {
  margin-top: 16vw;
  width: 62vw;
  height: 11vw;
  align-self: center;
  border: solid 0.25px #c5c5c5;
  padding-left: 3vw;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  .desktopHide {
    display: none;
  }

  header {
    display: flex;
    height: calc(2 * 1.813vw);
  }

  .mobile {
    display: none;
  }

  .normalNav {
    display: block;
    border: none;
  }

  .logoLink {
    font-size: 1.25vw;
    justify-content: flex-start;
    flex-direction: row;
    height: 4.813vw;
    align-items: center;
    margin-left: 2.5vw;
  }

  .miniNav {
    padding-top: 3.875vw;
    display: flex;
    justify-content: flex-end;
  }

  .minSectionsTitles {
    display: none;
  }

  .logoLink span:first-child {
    width: 1.563vw;
    height: 1.313vw;
  }

  .logoLink span:last-child {
    margin-left: 1.063vw;
  }

  .headNavigation {
    flex-direction: row;
    align-items: center;
  }

  .headNavigation a {
    font-size: 1.2vw;
    margin-right: 4.188vw;
  }

  .headhr {
    display: block;
    height: 2.188vw;
    margin: 0 3.125vw 0 4.063vw;
    border: solid 0.063vw #383f43;
  }

  h1 {
    height: 2.813vw;
    margin: 0 0 0.688vw;
    font-size: 2.25vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .headlineSection {
    margin-top: 9.313vw;
  }

  .headlineSection p {
    height: 0.09vw;
    margin: 0.688vw 1.063vw 0;
    opacity: 0.5;
    font-size: 1.125vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    line-height: normal;
    width: 100%;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  body {
    background-size: 100% 51.438vw;
    background-color: #f2f5f7;
    overflow-x: hidden;
    margin: 0;
  }

  main {
    width: 93.75vw;
    margin-left: 3.725vw;
    height: 88.375vw;
    position: relative;
    z-index: 6;
    margin-bottom: 3.125vw;
  }

  .navSection {
    margin-top: 9.563vw;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .miniNav a,
  .miniNav a:visited {
    width: 6.375vw;
    height: 1.25vw;
    margin: 0 2.5vw 0.625vw;
    font-size: 1vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .active::after {
    content: "";
    display: block;
    border-bottom: 1px solid #c2327f;
    width: 2.875vw;
    height: 0.188vw;
    margin: 0.125vw 0.5vw 0 0;
    box-shadow: 0 2px 6px 0 rgba(194, 50, 127, 0.5);
  }

  .active {
    color: #c2327f;
  }

  .allProductList,
  .myProductList,
  .popularProductsList {
    margin-top: 4.063vw;
    height: 60vw;
  }

  .allProductList li,
  .myProductList li,
  .popularProductsList li {
    width: 21.563vw;
    box-shadow: 0 2vw 20px 0 #e7e7e7;
    height: 27.438vw;
    margin-left: 5vw;
    margin-right: 2.588vw;
    margin-bottom: 3.125vw;
  }

  .allProductList li:nth-child(2),
  .myProductList li:nth-child(2),
  .popularProductsList li:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }

  .allProductList li:nth-child(3),
  .myProductList li:nth-child(3),
  .popularProductsList li:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }

  .allProductList li img,
  .myProductList li img,
  .popularProductsList li img {
    height: 12.5vw;
  }

  .cardTitle {
    margin: 0 0 0.25vw;
    font-size: 1.375vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #24292c;
  }

  .cardDataContainer {
    margin-left: 2.5vw;
  }

  .ratingDataContainer {
    width: 19vw;
  }

  .paginationController hr {
    margin-left: 2vw;
  }

  .goBack,
  .nextButton {
    width: 16vw;
    font-size: 2vw;
  }

  .goBack hr,
  .nextButton hr {
    width: 3vw;
  }

  .allProductList li hr,
  .myProductList li hr,
  .popularProductsList li hr {
    width: 16vw;
  }

  .ratingDataContainer p {
    margin: 0.25vw 4.5vw 0 0;
    font-size: 0.875vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8798a4;
  }

  .addToMyProducts {
    background-size: 2vw 2vw;
    width: 2vw;
  }

  .likesButton {
    background-size: 2vw 2vw;
    height: 3vw;
    width: 4vw;
  }

  .likesAmount {
    margin-right: 4.8vw;
    font-size: 1.5vw;
  }

  .Dark-background {
    width: 100%;
    height: 27vw;
    padding: 19.375vw 15.5vw 6.188vw 76.375vw;
    transform: rotate(-180deg);
    background-image: linear-gradient(86deg, #0b0e2d 29%, #0b0414 72%);
  }

  .paginationController {
    justify-content: space-evenly;
    margin-bottom: 3.063vw;
    margin-top: 6vw;
  }

  #searchBar {
    margin-left: 8vw;
    margin-top: 4vw;
    width: 17vw;
    height: 2vw;
    border: solid 0.5px #bdbdbd;
    padding-left: 1vw;
    font-size: 1vw;
  }

  .All,
  .Myproducts,
  .Popular {
    display: grid;
    justify-items: center;
  }

  section.hide.All,
  section.hide.Myproducts,
  section.hide.Popular {
    display: none;
  }

  #purchaseContainer {
    height: 4vw;
    margin-top: 6vw;
    margin-bottom: -2vw;
  }

  #purchaseContainer button {
    height: 3vw;
    width: 8vw;
  }
}
